{
  "trailingComma": "all", // 여러 줄을 사용할 때, 후행 콤마 사용 방식
  "tabWidth": 2, // 탭 너비
  "semi": true, // 세미콜론 사용 여부
  "singleQuote": true, // single 쿼테이션 사용 여부
  "endOfLine": "auto", // EoF 방식, OS별로 처리 방식이 다름
  "printWidth": 80, //  줄 바꿈 할 폭 길이
  "arrowParens": "avoid", // 화살표 함수 괄호 사용 방식
}
